.field-answer {
  align-items: center;
  margin-bottom: 0.25rem !important;
}

.delete-answer {
  margin-left: 0.75rem;
  margin-right: 0;
}

.answer-drag-handle {
  margin-left: 1rem;
}

.list-answers {
  margin-bottom: 0.5rem !important;
}