.box.home-cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.home-features {
  padding: 5rem 0;
}

.home-card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #25b8a2;
}

.home-intro {
  padding: 5rem 0;
  text-align: center;
}