
.bd-header-columns {
  margin-bottom: .5rem !important;
}

.bd-columns {
  margin-bottom: -0.5rem !important;
}

.bd-control {
  margin-bottom: 0;
}

.bd-validation-status {
  margin-top: 0;
  margin-bottom: 0;
}